html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gap {
  height: 150vh;
}

.first__section {
  background-color: white;
  width: 90%;
  margin: auto;
}
.first__section__container {
  position: relative;
}
.row1 {
  display: flex;
  height: 250vh;
}
.first__time__first {
  position: sticky;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  width: 40%;
  height: 400px;
}
.central__image,
.smart__image {
  flex: 0 0 30%;
  position: sticky;
  top: 40px;
  height: 400px;
  margin-top: 100vh;
}
.row2-container {
  position: absolute;
  top: calc(130vh + 400px);
}
.row2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80vh;
}
.gas__image,
.water__image {
  flex: 0 0 30%;
  height: 245px;
  position: sticky;
  top: 370px;
}
/* background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px); */
.svg__img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first__svg__image {
  flex: 0 0 30%;
}
.first__svg__image svg {
  width: 100%;
  height: 100%;
}
.first__first__image {
  flex: 0 0 50%;
}

.first__headings {
  margin-top: 26px;
  font-size: 4vw;
  font-weight: 800;
  line-height: 4.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first__description {
  margin-top: 45px;
  font-size: 2vw;
  line-height: 3vw;
  width: 90%;
}

.contact_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 0 0 35%;
}

.first__contacts {
  height: 16vw;
  background-color: #434343;
  display: flex;
  margin-bottom: 39px;
  justify-content: space-around;
  align-items: center;
}
.first__contacts > div {
  font-weight: 700;
  font-size: 2.2vw;
}

.first__title {
  margin-top: 15px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.wave__circle__outer {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background: rgba(36, 210, 101, 0.7);
  box-shadow: 0px 0px 8px 8px rgba(36, 210, 101, 0.2);
  position: relative;
}
.wave__circle__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #24d265;
}
.first__contact__details {
  line-height: 23px;
}
.gas__image,
.central__image,
.smart__image,
.water__image {
  text-align: center;
  background: #fff !important;
}
